<!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->


<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="banner-content">
                    <h2>Slash <b>PH</b></h2>
                    <h6>The Product Hunt powered slash command</h6>
                    <br>
                    <ul class="buttons">
                        <a href="https://slack.com/oauth/authorize?client_id=219592720864.285551398295&scope=commands"><%= image_tag("slack-button.png") %></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>“/ph topic”</h4>
                        <h6>Use /ph and any PH topic, and we'll return top 5 posts today</h6>
                    </div>
                </div>
            </div>
        </div>


<section id="about" class="page-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="service-item first-service">
                    <div class="icon">
                        <%= image_tag("third-service-icon.png") %>
                    </div>
                    <h4>"/PH TECH"</h4>
                    <p>see the top 5 tech posts today</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item second-service">
                    <div class="icon">
                          <%= image_tag("third-service-icon.png") %>
                    </div>
                    <h4>/PH BOTS</h4>
                    <p>see the top 5 bot posts today</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item third-service">
                    <div class="icon">
                        <%= image_tag("third-service-icon.png") %>
                    </div>
                    <h4>/PH PRODUCTIVITY</h4>
                    <p>see the top 5 tech productivity tools today</p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="center">
  <div class="container">
      <div class="row">
          <div class="center">
            <p class="white"> <%= link_to "Home", root_path %> | <%= link_to "Privacy Policy", privacy_path %> | <%= link_to "Contact Us", contact_path %> </p>
          </div>
      </div>
  </div>
</footer>
